.react-datepicker {
  font-size: 14px;
}

.react-datepicker__header {
  background-color: #007bff;
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #007bff;
  color: white;
}
